/* Reset default margin and padding for entire page */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/* Fixed navigation bar styles */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: blue;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  z-index: 1000;
  transition: top 0.3s;
}

.logo {
  height: 40px; /* Adjust the height as needed */
  margin-right: 10px; /* Space between the logo and the Home button */
}

.nav-buttons {
  display: flex;
  flex-grow: 1;
  justify-content: space-around; /* Distribute the space evenly among buttons */
}

.nav-button {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 0 10px;
  text-decoration: none;
}

.nav-button:hover {
  background-color: darkblue;
}

.nav-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.nav-dropdown:hover .dropdown-content {
  display: block;
}

.profile-button {
  padding: 0 10px;
  background-color: white;
  margin-left: -10px;
}

/* Hide navbar when scrolled down */
.navbar.hidden {
  top: -80px;
}

/* SwiftWheelz content section */
.main-content {
  flex: 1;
  padding-top: 60px; /* Adjust for fixed navbar */
  overflow-y: auto;
}


.home {
  text-align: center;
}

.header-section1 {
  background-image: url('../public/HomePage.jpeg');
  background-size: cover;
  background-position: center;
  color: white;
  padding: 100px 20px;
}

.header-section1 h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.header-section1 p {
  font-size: 1.2rem;
}

.form-section {
  background-color: white;
  color: blue;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-items: start;
  text-align: left;
}

.form-section h2 {
  margin: 0;
}

.form-section input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button-section {
  margin: 20px 0;
}

.get-quote-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.get-quote-button:hover {
  background-color: darkblue;
}

.rent-button {
  padding: 10px 20px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
  background-color: #ff6f00;
  border: none;
  border-radius: 5px;
  color: white;
  transition: background-color 0.3s;
}

.rent-button:hover {
  background-color: #e65c00;
}

/* Home.css */
.rent-trucks {
  padding-top: 60px;
  padding: 20px;
}

.header-section {
  background-image: url('../public/Landing1.jpeg'); /* Update the path as needed */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  padding: 50px;
  text-align: center;
  width: 100vw; /* Full width of the viewport */
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.header-section h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.header-section p {
  font-size: 1.5rem;
}

.intro-section {
  background-color: white;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
}

.intro-section h2 {
  color: blue;
  font-size: 2rem;
  margin-bottom: 10px;
}

.intro-section p {
  color: #333;
  font-size: 1.2rem;
}

.truck-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 20px;
  margin-top: 20px;
}

.truck-item {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: left;
}

.truck-item img {
  width: 100%;
  height: 50%;
}

.truck-details {
  padding: 20px;
}

.truck-details p {
  margin: 10px 0;
}

.get-quote-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  border: none;
  border-radius: 50px;
  color: white;
  transition: background-color 0.3s;
}

.get-quote-button:hover {
  background-color: blue;
}

.about-us {
  background-color: #f9f9f9;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: auto;
}
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}

.about-us h1 {
  font-size: 2.5rem;
  animation: fadeIn 1s ease-out;
  margin-bottom: 20px;
  color: #007bff;
  font-weight: bold;
  text-align: center;
}

.about-us p {
  line-height: 1.6;
  margin-bottom: 15px;
}

.about-us p:last-child {
  margin-bottom: 0;
}



.contact-us {
  background-color: #e3e1e1; /* Light gray background */
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.contact-us-content {
  background-color: #e3e1e1;
  padding: 40px;
  border-radius: 10px;
  max-width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
}

.contact-us h1 {
  margin-bottom: 20px;
}

.contact-us p {
  margin-bottom: 10px;
}

.contact-details {
  text-align: left; /* Align contact details to the left */
}.contact-us {
   background-color: #f0f0f0; /* Light gray background */
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   padding: 20px;
 }

.contact-us-content {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  max-width: 800px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
}

.contact-header {
  display: flex;
  align-items: center;
}

.contact-image {
  width: 200px; /* Adjust image size as needed */
  margin-right: 20px;
  border-radius: 10px;
}

.contact-details {
  text-align: left; /* Align contact details to the left */
}

.contact-message {
  margin-top: 30px;
}

.contact-message h2 {
  margin-bottom: 10px;
}

.radio-buttons {
  margin-bottom: 10px;
}

.input-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.input-group input {
  width: 48%; /* Adjust input width as needed */
  padding: 10px;
  margin-bottom: 10px;
}

textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  resize: vertical;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: darkblue;
}

/* GetQuote.css */

.get-quote-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa;
}

.get-quote-box {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  width: 100%;
}

.truck-info {
  flex: 1;
  padding-right: 20px;
  border-right: 1px solid #ddd;
  text-align: center;
}

.truck-image {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 5px;
}

.quote-form {
  flex: 1;
  padding-left: 20px;
}

.quote-form h1 {
  margin-bottom: 20px;
}

.quote-form label {
  display: block;
  margin-bottom: 10px;
  text-align: left;
}

.quote-form input {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.quote-form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.quote-form button:hover {
  background-color: #0056b3;
}

.get-quote-result {
  margin-top: 20px;
  font-size: 1.2em;
  font-weight: bold;
}

.back-button {
  margin-top: 20px;
  background-color: #6c757d;
}

.back-button:hover {
  background-color: #5a6268;
}

.signup-background {
  background-image: url('../public/HomePage.jpeg');
  background-size: cover;
}
/* ConfirmDetails.css */

.confirm-details-container {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.confirm-details-container .confirm-heading {
  color: #002e7a;
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
}

.confirm-details-container .rental-heading {
  color: #037bfc;
  font-size: 24px;
  margin-bottom: 15px;
  text-align: left;
}

.confirm-details-container .get-quote-result {
  background-color: #f5f5f5;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.confirm-details-container .detail-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.confirm-details-container .detail-item p {
  margin: 0 0 0 8px;
  color: #333;
}

.confirm-details-container .truck-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.confirm-details-container .customer-details {
  margin-bottom: 20px;
}

.confirm-details-container .confirm-button {
  background-color: #002e7a;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 16px;
  border: none;
  transition: background-color 0.3s ease;
}

.confirm-details-container .confirm-button:hover {
  background-color: #001c4d;
}

.confirm-details-container .change-link {
  color: #037bfc;
  text-decoration: underline;
  cursor: pointer;
  margin-left: 10px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.confirm-details-container .change-link:hover {
  color: #025bb5;
  text-decoration: none;
}
/*Payment Page*/

.payment-page-container {
  padding: 30px;
  max-width: 600px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.payment-heading {
  font-size: 32px;
  color: #002e7a;
  text-align: center;
  margin-bottom: 20px;
}

.truck-image-container {
  text-align: center;
  margin-bottom: 20px;
}

.truck-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.rental-info p {
  margin: 10px 0;
  font-size: 16px;
  color: #333;
}

.error-message {
  color: red;
  margin-top: 10px;
  font-weight: bold;
}

.success-message {
  color: green;
  margin-top: 10px;
  font-weight: bold;
}

.payment-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.payment-label {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.payment-input {
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.payment-button {
  background-color: #002e7a;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.payment-button:hover {
  background-color: #001c4d;
}




